    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
          <div class="log-in">
            <span><a href="{% url 'login' %}">Log In</a> / <a href="{% url 'register' %}">Sign In</a></span>
          </div>

        <div class="d-none d-lg-block d-md-block justify-content-end text-center">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Courses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About us</a>
            </li>
          </ul>
        </div>

        <div class="nav d-lg-none">
          <span class="line1"></span>
          <span class="line2"></span>
          <span class="line3"></span>
        </div>
      </div>
    </nav>

    <!--mobile-menu-->
    <div class="mobile-menu">
      <nav class="menu navbar-nav navbar-light text-uppercase text-center">
        <li class="nav-item my-3">
          <a href="" class="nav-link active">
            <span>Home</span>
          </a>
        </li>
        <li class="nav-item my-3">
          <a href="" class="nav-link">
            <span>courses</span>
          </a>
        </li>
        <li class="nav-item my-3">
          <a href="" class="nav-link">
            <span>Features</span>
          </a>
        </li>
        <li class="nav-item my-3">
          <a href="" class="nav-link">
            <span>About us</span>
          </a>
        </li>
      </nav>
    </div>