    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand btn btn-outline-warning" href="#" title="Sign in">
              <div class="log-in">
                <span>Log In / Sign In</span>
              </div>
            </a>

            <div class="justify-content-end text-center">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Courses</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">About us</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>