{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}



    {% block content %}
         <div class="row shadow-lg rounded-3 position-relative ">
            <!--cover-->
            <div class="col-12 col-lg-6 col-md-6 rounded-3 shadow-lg cover">
                <div class="cover-content text-center my-3">
                    <h1 class="cover-title">Welcome</h1>
                    <div class="text my-5">
                        <h5 class="cover-text">Create account with</h5>
                        <h5 class="cover-text2">your personal info to continue</h5>
                    </div>
                    <button class="cover-btn shadow-sm">Log in</button>
                </div>
            </div>
            <!--Log in-->
            <div class="col-12 col-lg-6 col-md-6">
                <div class="content login text-center my-5">
                    <h1>Log in account</h1>
                    <div class="media navbar navbar-expand justify-content-center navbar-light">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="" class="nav-link" role="button">
                                    <span class="fab fa-facebook-f"></span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link">
                                    <span class="fab fa-linkedin-in"></span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link">
                                    <span class="fab fa-google-plus-g"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <h5>or log in with username</h5>

                    <div class="form text-start">
                        <form action="{% url 'login' %}" method="post">
                            {% csrf_token %}
                            <div class="username">
                                <label for="username">
                                    <span class="fas fa-user shadow-sm mx-1"></span>
                                    <span>Username</span>
                                </label>
                                <input type="text" class="form-control" id="username" name="username" placeholder="Username">
                            </div>

                            <div class="password position-relative my-2">
                                <label for="password1">
                                    <span class="fas fa-lock shadow-sm mx-1"></span>
                                    <span>Password</span>
                                </label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                                <span class="fas fa-eye-slash" id="eye"></span>
                            </div>

                            <div class="mt-4 text-center">
                                <h5>
                                    <a href="">Forgot your password?</a>
                                </h5>

                                <input type="submit" class="btn shadow-sm mt-3" value="Log in">
                            </div>

                        </form>
                    </div>


                </div>
            </div>

            <!--Sign up-->
            <div class="col-12 col-lg-6 col-md-6">
                <div class="content signin text-center my-3">
                    <h1>Create account</h1>
                    <div class="media navbar navbar-expand justify-content-center navbar-light">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="" class="nav-link" role="button">
                                    <span class="fab fa-facebook-f"></span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link">
                                    <span class="fab fa-linkedin-in"></span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link">
                                    <span class="fab fa-google-plus-g"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <h5>or sign up with email</h5>

                    <div class="form text-start">
                        <form action="{% url 'register' %}" method="post">
                            {% csrf_token %}
                            <div class="username">
                                <label for="username">
                                    <span class="fas fa-user shadow-sm mx-1"></span>
                                    <span>Username</span>
                                </label>
                                <input type="text" class="form-control" id="username" name="username" placeholder="Username">
                            </div>

                            <div class="email my-2">
                                <label for="email">
                                    <span class="fas fa-envelope shadow-sm mx-1"></span>
                                    <span>Email</span>
                                </label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                            </div>

                            <div class="password1 my-2">
                                <label for="password1">
                                    <span class="fas fa-lock shadow-sm mx-1"></span>
                                    <span>Password</span>
                                </label>
                                <input type="password" class="form-control" id="password1" name="password1" placeholder="Password">
                            </div>

                            <div class="password2">
                                <label for="password2">
                                    <span class="fas fa-lock shadow-sm mx-1"></span>
                                    <span>Confirm Password</span>
                                </label>
                                <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm Password">
                            </div>

                            <div class="text-center mt-4">
                                <input type="submit" class="btn shadow-sm" value="Sign in">
                            </div>
                           
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}


{% block js %}
    <script src="{% static 'js/form.js' %}"></script>
{% endblock %}


