{% extends 'admin/dashboard.html' %}



{% block dashboard %}
    <!--Update Course-->
    <h1>Update Course</h1>
        <div class="content text-start my-4">
            <div class="form w-25 my-3">
                <form action="{% url 'update.course' course.id %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="title">
                                <label for="title">
                                    <span>Title:</span>
                                </label>
                                <input type="text" class="form-control" id="title" name="title" value="{{ course.title }}">
                            </div>

                    <div class="description my-3">
                                <label for="description">
                                    <span>Description:</span>
                                </label>
                                <textarea class="form-control" id="description" name="description">{{ course.description }}</textarea>
                            </div>

                    <div class="image">
                                <label for="image">
                                    <span>Image:</span>
                                </label>
                                <input type="file" class="form-control" id="image" name="image" value="{{ course.image.url }}">
                            </div>

                    <div class="level my-3">
                                <label for="level">
                                    <span>Level</span>
                                </label>
                                <select id="level" name="level">
                                    <option value="{{ course.level }}">{{ course.level }}</option>
                                    <option value="beg">Beginner</option>
                                    <option value="int">Intermediat</option>
                                    <option value="adv">Advance</option>
                                </select>
                            </div>

                    <div class="price">
                                <label for="price">
                                    <span>Price:</span>
                                </label>
                                <input type="number" min="0" class="form-control" id="price" name="price" value="{{ course.price }}">
                            </div>


                    <div class="status my-3">
                                <label for="status">
                                    <span>Status:</span>
                                </label>
                                <select id="status" name="status">
                                    <option value="{{ course.status }}">{{ course.status }}</option>
                                    <option value="drf">Draft</option>
                                    <option value="pub">Published</option>
                                </select>
                            </div>

                    <div class="category">
                        <label for="category">
                            <span>Category:</span>
                        </label>
                        <select id="category" name="category">
                            {% for category in categories %}
                                <option value="{{ category.id }}">{{ category.title }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="text-center mt-4">
                                <input type="submit" class="btn btn-outline-success shadow-sm" value="Submit">
                            </div>
                </form>
            </div>
        </div>
{% endblock %}