{% extends 'base.html' %}
{% load static %}

{% block title %}
    Home
{% endblock %}

{% block css %}
    <link href="../static/css/main.css" rel="stylesheet">
{% endblock %}


{% block content %}
      <!--main-->
    <div class="intro">
      <div class="main row justify-content-center">
        <div class="col-12 col-lg-4 text-lg-start text-center">
          <div class="container">
            <div class="about">
              <span>Online Programming</span><br />
              <span>Courses</span>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Nesciunt dolor voluptatem praesentium earum officia fugit, nam
                laboriosam culpa dolorum repellendus.
              </p>
              <a href="{% url 'courses' %}" class="btn shadow-sm">See Courses</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 text-end">
          <img src="../static/img/learning.jpg" class="img-fluid" alt="" />
        </div>
      </div>
    </div>

    <!--category-->
    <div class="category container my-5">
      <!--title-->
      <div class="text-center my-4">
        <h1>Categories</h1>
      </div>
      <!--categories-->
      <div class="row">
          {% for category in categories %}
              <div class="col-12 col-lg-4 col-md-4 text-center my-3">
                  <a href="{% url 'show.category' category.id %}">
                    <img
                      src="{{ category.image.url }}"
                      class="border-0"
                      alt="{{ category.title }}"
                      width="280"
                      height="230"
                    />
                    <h2>{{ category.title }}</h2>
                  </a>
              </div>
          {% endfor %}
      </div>

    </div>

    <!--suggested courses-->
    <div class="suggested container my-5">
      <!--title-->
      <div class="position-relative mb-4">
        <h2 class="d-inline">Newest Courses</h2>
        <span class="float-end position-absolute bottom-0 end-0">
          <a href="{% url 'courses' %}">See More</a>
          <i class="fas fa-arrow-right mx-1"></i>
        </span>
      </div>

      <!--courses-item-->
      <div class="d-none d-lg-block">
        <div class="row justify-content-center">
            {% for course in courses %}
                {% if forloop.counter <= 12 %}
                    <div class="col-12 col-lg-3 col-md-3 my-4">
                        <a href="" class="link-dark">
                            <div class="card shadow-lg">
                                <img src="{{ course.image.url }}" class="card-img-top img-fluid" alt="{{ course.title }}"/>
                                <div class="card-body">
                                    <h5 class="card-title text-center mb-4">{{ course.title }}</h5>
                                    <div class="card-text">
                                      <div>
                                        <span class="instructor">
                                          <i class="fas fa-user mx-1"></i>
                                          <span>{{ course.instructor }}</span>
                                        </span>
                                        <span class="level float-end">
                                          <i class="fas fa-level-up-alt mx-1"></i>
                                          <span>{{ course.level }}</span>
                                        </span>
                                      </div>
                                      <hr />
                                      <div class="text-center">
                                        <span class="price float-start">
                                          <i class="fas fa-money-bill-wave mx-1"></i>
                                          <span>{{ course.price }}$</span>
                                        </span>
                                        <span class="video float-end">
                                            <span>{{ course.sessions.count}}</span>
                                            <i class="fas fa-video mx-1"></i>
                                        </span>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
      </div>

    </div>

    <!--articles-->
    <div class="articles container my-5">
      <!--title-->
      <div class="position-relative mb-4">
        <h2 class="d-inline">Newest Articles</h2>
        <span class="float-end position-absolute bottom-0 end-0">
          <a href="{% url 'articles' %}">See More</a>
          <i class="fas fa-arrow-right mx-1"></i>
        </span>
      </div>


      <div class="row">
            {% for article in articles %}
                {% if forloop.counter < 10 %}
                     <div class="col-12 col-lg-4 col-md-4 my-4">
                         <div class="card shadow-lg">
                          <a href="">
                          <img src="{{ article.image.url }}" class="card-img-top img-fluid" alt="{{ article.title }}">
                          </a>
                          <div class="card-body">
                            <h5 class="card-title">{{ article.title | truncatechars:'32'}}</h5>
                            <small class="card-text">{{ article.description | truncatewords:'20' }}</small><hr>
                            <div class="detail">
                              <span>
                                <i class="fas fa-user"></i>
                                <span>{{ article.author }}</span>
                              </span>
                              <span class="float-end">
                                <span>{{ article.created_at.date }}</span>
                                <i class="fas fa-calendar-alt"></i>
                              </span>
                            </div>
                          </div>
                        </div>
                     </div>
                {% endif %}
            {% endfor %}
      </div>
    </div>

{% endblock %}

