<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form action="{% url 'create_category' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <label for="title">
            <input type="text" id="title" name="title" placeholder="title">
        </label><br>

        <label for="description">
            <textarea id="description" name="description" placeholder="description"></textarea>
        </label><br>

        <label for="image">
            <input type="file" id="image" name="image">
        </label><br>

        <input type="submit" value="Submit">
    </form>

</body>
</html>